<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Google Font  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500|Titillium+Web:700&display=swap" rel="stylesheet">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/app.css">

    <title>Code Challenge</title>
</head>

<body>
    <div id="app-unsplash">
        <nav class="navbar shadow-sm fixed-top bg-white">
            <div class="row">
                <div class="col-3 d-none d-md-block">
                    <button class="navbar-brand btn rounded-pill" href="#">Code Challenge</button>
                </div>
                <div class="col-12 col-md-6">
                    <form class="input-group rounded-pill border border-secondary">
                        <div class="input-group-prepend rounded-pill">
                            <button v-on:click.prevent="getSearch(searchInput)" type="submit"
                                class="btn bg-light text-white rounded-pill">
                                <i class="text-dark fas fa-search"></i>
                            </button>
                        </div>
                        <input class="border-0 form-control rounded-pill" type="text" v-model="searchInput"
                            placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="welcome" v-if="!this.searched">
                    <h2>Unsplash images</h2>
            </div>
            <div class="welcome" v-if="this.searched">
                    <h2>{{this.searchInput}} images</h2>
            </div>
            <div class="card-columns">
                <div v-for="image in images" class="card card-custom border-0 rounded-lg shadow-sm rounded-lg">
                    <div class="card-custom-image">
                        <img v-bind:src="image.urls.regular" class="img-fluid" alt>
                        <div v-if="!image.tags" class="card-body overlay text-center">
                            <p class="card-text"><b>{{ image.user.name }}</b></p>
                            <div class="text-center location">
                                <p>{{ image.user.location}}</p>
                            </div>
                            <div class="card-custom-avatar">
                                <img v-bind:src="image.user.profile_image.large" alt="profile image">
                            </div>
                        </div>
                        <div v-if="image.tags" class="card-body overlay">
                            <p class="card-text text-center description">{{ image.description }}</p>
                            <p class="card-text"><b>{{ image.user.name }}</b></p>
                            <div class="card-custom-avatar">
                                <img v-bind:src="image.user.profile_image.large" alt="profile image">
                            </div>
                        </div>
                    </div>
                    <div v-if="image.tags" class="text-center tags">
                        <a v-for="tag in image.tags.slice(0,3)" v-bind:key="tag.index" href="#"
                            v-on:click.prevent="getSearch(tag.title)"
                            class="btn btn-sm btn-secondary">{{ tag.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!-- Vue CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- magic starts here -->
    <script src="index.js"></script>
</body>

</html>