body {
    padding-top: 58px;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: lightgray;
}

.navbar .row {
    width: 100%;
}

.navbar-brand {
    background-color: gray;
    color: lightgray;
    font-family: 'Titillium Web', sans-serif;
}

.card-custom {
    background-color: lightgray;
}

.card-custom-image {
    border-color: inherit;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.card-custom-image:hover .overlay {
    opacity: .7;
}

.card-body {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px white;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 25%;
}

.card-body b {
    font-size: large;
}

.card-body .location {
    font-size: small;
}

.card-body .description {
    font-size: small;
}

.card a {
    margin: 2px;
}

.card .tags {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    background-color: #222;
    padding: 5px;
}

footer p {
    color: lightgrey;
    text-align: center;
    margin: 0;
}

/* serach box focus overwrites */
.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}